.vscode
*.DS_Store
assets/css/base.css.map
assets/css/button.css.map
assets/css/heart.css.map
assets/css/loader.css.map
assets/css/logo.css.map
assets/css/footer.css.map
assets/css/home.css.map
assets/css/menu.css.map
assets/css/styles.css.map
assets/css/variables.css.map
