/* variables */
:root {
    --color-primary: #9356DC;
    --color-primary-light: #F4EDFE;
    --color-secondary: #FF79DA;
    --color-tertiary: #99E2D0;
    --color-tertiary-dark:#398164;
    --color-background-light: #f6f6f6;
    --color-background-dark: #eaeaea;
    --color-background-darker: #353535;
    --color-black: #000;
    --color-white: #fff;
    --color-grey: #808080;
}
/* endregion */

body {
    background-color: var(--color-background-light);
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
}

/* Header */
.header {
    display: flex;
    width: 100%;
}

.icon__arrow {
    font-size: 20px;
    color: var(--color-black);
    position: absolute;
    display: block;
    padding: 20px 0px 0 -20px;
    margin: 20px 0 0 20px;
    cursor: pointer;
    font-weight: 900;
    z-index: 1;
}
/* endregion */

/* menu */
.restaurant__image {
    height: 250px;
    width: 100%;
    position: relative;
    z-index: -1;
    object-fit: cover;
}

.page-title {
    display: flex;
    justify-content: space-between;
    padding: 30px 0 0 0;
    background: var(--color-background-light);
    width:100%;
}

.page-title__like {
	display: flex;
	align-items: center;
    padding: 0px 50px 0px 0px;
    position: relative;
}

.menu {
    border-top-left-radius: 40px;
    border-top-right-radius: 40px;
    overflow: hidden;
    background-color: var(--color-background-light);
    max-width: 1500px;
    margin: 0 auto;
    margin-top: -70px;
}

.page-title__name {
    font-family: 'Shrikhand';
    font-size: 24px;
    padding: 0 0 0 20px;
}

.menu__group {
    display: flex;
    flex-direction: column;
}

.page__subtitle {
    font-size: 18px;
    font-weight: 400;
    padding: 40px 0 10px 0px;
    width: 40px; 
    text-align: center; 
    border-bottom: 3px solid var(--color-tertiary); 
    line-height: 0.5em;
    margin: 5px 0 0 20px;
}

.page__plate {
    display: flex;
    justify-content: space-between;
    font-size: 20px;
    background: var(--color-white);
    border-radius: 15px;
    margin: 15px 20px 0 20px;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    padding: 0 0 0 10px;
    height: 65px;
    max-width: 400px;
    min-width: 340px;
    cursor: pointer;
    overflow: hidden;
}

.page__plate-card {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
}

.plate__check {
    display: flex;
    justify-content: center;
    align-items: center;
    background: var(--color-tertiary);
    overflow: hidden;
    width: 0;
}

.page__plate:hover .plate__check {
    width: 60px;
    transition: width 500ms;
    transition-timing-function: linear;
}

.page__plate:hover .icon__check {
    color: var(--color-white);
    font-size: 30px;
    transform: rotate(359deg);
    transition: transform 700ms;
}

.page__plate-title {
    font-size: 18px;
    font-weight: bold;
    padding: 10px 0 0 0;
    margin: 0 0 5px 0;
}

.page__plate-block {
    display: flex;
    justify-content: space-between;
}

.plate__description {
    font-size: 16px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.plate__price {
    font-size: 16px;
    font-weight: bold;
    padding: 0 20px 10px 0;
}
/* endregion */

/* button */

.main__button {
    width: 180px;
    text-align: center;
}

.button__link {
    display: flex;
    justify-content: center;
    align-items: center;
    padding:60px 0 80px 0;
}
/* endregion */

/* responsive tablet & desktop */
@media all and (min-width: 768px) {
    .menu__group {
        flex-direction: row;
        justify-content: space-between;
        flex-wrap: wrap;
    }

    .menu__list {
        width: 33%;
        flex-basis: content;
    }

    .restaurant__image {
        max-width: 100%;
        height: 300px;
        width : 100%
    }

}
/* endregion */
