@import "styles";

body {
    background-color: $color-background-light;
    font-family: "Roboto", sans-serif;
    font-size: 14px;
}

/* Header */
.header {
    display: flex;
    width: 100vw;

    .icon__arrow {
        font-size: 20px;
        color: $color-black;
        position: absolute;
        display: block;
        margin: 20px 0 0 20px;
        cursor: pointer;
        font-weight: 900;
        z-index: 1;
    }
}

/* menu */
.restaurant__image {
    height: 250px;
    width: 100vw;
    position: relative;
    z-index: -1;
    object-fit: cover;
}

.menu {
    border-top-left-radius: 40px;
    border-top-right-radius: 40px;
    overflow: hidden;
    background-color: $color-background-light;
    max-width: 1200px;
    margin: 0 auto;
    margin-top: -70px;

    .page-title {
        display: flex;
        justify-content: space-between;
        padding: 30px 0 0 0;
        background: $color-background-light;
        width: 100%;

        @media all and (min-width: 385px) {
            position: relative;
            margin: 30px 0 0 0;
        }

        .page-title__name {
            font-family: "Shrikhand", cursive;
            font-size: 24px;
            padding: 0 0 0 20px;
            top: 0;

            @media all and (min-width: 385px) {
                position: absolute;
                left: 50%;
                transform: translateX(-50%);
            }
        }

        .page-title__like {
            display: flex;
            align-items: center;
            padding: 0px 50px 0px 0px;
            position: relative;

            @media all and (min-width: 385px) {
                position: absolute;
                right: 2%;
            }
        }
    }

    .menu__group {
        display: flex;
        flex-direction: column;

        @media all and (min-width: 385px) {
            flex-direction: row;
            justify-content: center;
            flex-wrap: wrap;

            .menu__list {
                width: 100%;
            }
        }

        @media all and (min-width: 760px) {
            .menu__list {
                width: 33%;
                flex-basis: content;
            }
        }

        .page__subtitle {
            font-size: 18px;
            font-weight: 400;
            padding: 40px 0 10px 0px;
            width: 40px;
            text-align: center;
            border-bottom: 3px solid $color-tertiary;
            line-height: 0.5em;
            margin: 5px 0 0 20px;
            opacity: 0;
            animation: page__plate-animation 3s ease-out 1s forwards;
        }

        .page__plate {
            display: flex;
            justify-content: space-between;
            font-size: 20px;
            background: $color-white;
            border-radius: 15px;
            margin: 15px 20px 0 20px;
            box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
            padding: 0 0 0 10px;
            height: 65px;
            cursor: pointer;
            overflow: hidden;
            opacity: 0;

            @media all and (min-width: 760px) {
                width: 330px;
            }

            /* Apparition animation */
            &:nth-child(1) {
                animation: page__plate-animation 3s ease-out 1.5s forwards;
            }

            &:nth-child(2) {
                animation: page__plate-animation 3s ease-out 2s forwards;
            }

            &:nth-child(3) {
                animation: page__plate-animation 3s ease-out 2.5s forwards;
            }

            &:nth-child(4) {
                animation: page__plate-animation 3s ease-out 3s forwards;
            }

            @keyframes page__plate-animation {
                0% {
                    opacity: 0;
                    transform: translateY(10px);
                }
                100% {
                    opacity: 1;
                    transform: translateY(0);
                }
            }

            .page__plate-card {
                display: flex;
                flex-direction: column;
                flex-grow: 1;

                .page__plate-title {
                    font-size: 18px;
                    font-weight: bold;
                    padding: 10px 0 0 0;
                    margin: 0 0 5px 0;
                    overflow: hidden;
                    white-space: nowrap;
                    text-overflow: ellipsis;
                }

                .page__plate-block {
                    display: flex;
                    justify-content: space-between;

                    .plate__description {
                        font-size: 16px;
                        overflow: hidden;
                        white-space: nowrap;
                        text-overflow: ellipsis;
                    }

                    .plate__price {
                        font-size: 16px;
                        font-weight: bold;
                        padding: 0 20px 10px 0;
                        margin: 0 0 0 10px;
                    }
                }
            }

            .plate__check {
                display: flex;
                justify-content: center;
                align-items: center;
                background: $color-tertiary;
                overflow: hidden;
                width: 0;
            }

            /* Check animation */
            &:hover {
                .plate__check {
                    width: 60px;
                    transition: width 0.5s linear;
                }

                .page__plate-card {
                    overflow: hidden;
                    white-space: nowrap;
                    text-overflow: ellipsis;
                }

                .icon__check {
                    color: $color-white;
                    font-size: 30px;
                    transform: rotate(359deg);
                    transition: transform 0.7s;
                }
            }
        }
    }
}

/* button */
.button__link {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 60px 0 80px 0;

    .main__button {
        width: 180px;
        text-align: center;
    }
}
