/* variables */
:root {
    --color-primary: #9356DC;
    --color-primary-light: #F4EDFE;
    --color-secondary: #FF79DA;
    --color-tertiary: #99E2D0;
    --color-tertiary-dark:#398164;
    --color-background-light: #f6f6f6;
    --color-background-dark: #eaeaea;
    --color-background-darker: #353535;
    --color-black: #000;
    --color-white: #fff;
    --color-white-opacity: #fffa;
    --color-grey: #808080;
}

body {
    font-family: 'Roboto', sans-serif;
    font-size: 10px;
}

/* Loader */
.loader-container {
    position: fixed;
    z-index: 10000;
    height: 100%;
    width: 100%;
    background-color: var(--color-white-opacity);
    animation: hide 0s ease-in 1.5s forwards;
}

.loader {
    position: fixed;
    height: 100%;
    width: 52px;
    top: 50%;
    left: calc(50% - 52px / 2);
  }
  .loader-element {
    position: absolute;
    width: 13px;
    height: 13px;
    border-radius: 50%;
    animation-timing-function: cubic-bezier(0, 1, 1, 0);
  }
  .loader-element:nth-child(1) {
    left: 8px;
    animation: loader-element1 0.6s infinite;
    background-color: var(--color-primary);
  }
  .loader-element:nth-child(2) {
    left: 8px;
    animation: loader-element2 0.6s infinite;
    background-color: var(--color-secondary);
  }
  .loader-element:nth-child(3) {
    left: 32px;
    animation: loader-element2 0.6s infinite;
    background-color: var(--color-tertiary);
  }
  .loader-element:nth-child(4) {
    left: 56px;
    animation: loader-element3 0.6s infinite;
    background-color: var(--color-tertiary-dark);
  }
  @keyframes loader-element1 {
    0% {
      transform: scale(0);
    }
    100% {
      transform: scale(1);
    }
  }
  @keyframes loader-element3 {
    0% {
      transform: scale(1);
    }
    100% {
      transform: scale(0);
    }
  }
  @keyframes loader-element2 {
    0% {
      transform: translate(0, 0);
    }
    100% {
      transform: translate(24px, 0);
    }
  }
  @keyframes hide {
    100% {
      width: 0;
      height: 0;
      visibility: hidden;
    }
  }
/* endregion */

/*#region logo */
.logo {
    margin:auto;
    display: block;
    align-items: center;
    box-shadow: rgba(100, 100, 111, 0.2) 2px 2px 2px 2px;
    position: relative;
    width: 100%;
    text-align: center;
}

.logo__image {
    padding: 20px 0px 10px 0px;
    width: 160px;
    height: auto;
    align-items: center;
}
/*#endregion */

/*#region link */
.link {
    text-decoration: none;
}
/*#endregion */

/*#region button */
.main__button {
    font-size: 16px;
    font-weight: 500;
    color: var(--color-white);
    background: linear-gradient(-190deg,var(--color-secondary),var(--color-primary));
    border: none;
    border-radius: 30px;
    align-items: center;
    justify-content: center;
    text-align: center;
    display: flex;
    height: 48px;
    position: relative;
    box-shadow: rgba(100, 100, 100, 0.2) 0px 3px 4px 3px;
    transform: scale(1);
    transition: transform 200ms;
}

.main__button:hover {
    transform: scale(1.05);
}

.button__link {
    text-decoration: none;
}
/*#endregion */

/*#region heart animation */
.icon__heart-regular {
    font-size: 22px;
    color: var(--color-black);
    position: absolute;
    transition: 0.6s;
}

.icon__heart-solid {
    background: -webkit-linear-gradient(var(--color-primary),var(--color-secondary));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    cursor: pointer;
    font-weight: 900;
    position:absolute;
    font-size: 22px;
    opacity: 0;
    transition: 0.6s;
}

.icon__heart-solid:hover {
    opacity: 1;
}

.icon__heart-regular:hover {
    background: -webkit-linear-gradient(var(--color-primary),var(--color-secondary));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    cursor: pointer;
}
/*#endregion */

