$color-primary: #9356dc;
$color-primary-light: #f4edfe;
$color-secondary: #ff79da;
$color-tertiary: #99e2d0;
$color-tertiary-dark: #398164;
$color-background-light: #f6f6f6;
$color-background-dark: #eaeaea;
$color-background-darker: #353535;
$color-black: #000;
$color-white: #fff;
$color-white-opacity: #fffa;
$color-grey: #808080;